@import '__.styl'
@import '../Nav/__.styl'
@import '../Header/__.styl'
@import '../App/__.styl'

.Constructor
  position: absolute
  left: 0
  top: $header__height
  right: 0
  bottom: 0
  background-color: $bg-color
  min-width: $app__width

  &__sidebar
    position: absolute
    left: 0
    top: 24px
    bottom: 0
    width: 100%
    max-width: 250px
    border-top-right-radius: 10px
    overflow: hidden

  &__add-components
    height: 100%

  &__main
    position: absolute
    left: 250px
    top: 0
    right: 0
    margin: 24px auto
    padding: 0 20px
    box-sizing: border-box

  &__header
    background-image: url('modules/Constructor/images/сonstructor__header.jpg')
    width: 610px
    height: 124px
    background-position: 0 100%

  &__area
    width: 610px
    margin: 0 auto
    background-color: #f9f9f9

    &:empty
      position: relative
      min-height: 300px
      border: 1px dashed #6a6ae4

      &::before
        content: 'Empty block here'
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
