html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f0f2f4;
}
.nav {
  width: 40px;
  height: 100vh;
  background-color: #262b30;
}
.nav__item {
  position: relative;
  padding-left: 48px;
  padding-right: 8px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  color: #fff;
  white-space: nowrap;
}
.nav__item[data-value="all"]::before,
.nav__item[data-value="all"]::after {
  content: '';
  position: absolute;
  left: 13px;
  top: 50%;
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  transform: translateY(-50%) rotate(34deg) skewY(-34deg);
  background-color: #262b30;
}
.nav__item[data-value="all"]::before {
  top: 26px;
  left: 14px;
}
