doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=980')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Document
    link(rel="stylesheet" href="app.css")
  body
    .main
      .sidebar
        .nav
          .nav__item(data-value="all") All
          .nav__item(data-value="titles") Titles
          .nav__item(data-value="buttons") Buttons
          .nav__item(data-value="blocks") Blocks
      .content

