@import '__.styl'

.NotFound
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  font-size: 120px
  color: #ffffff
  text-align: center

  &__text
    font-size: 24px
    line-height: 30px
