@import '__.styl'
@import '../Nav/__.styl'
@import '../App/__.styl'

.Header
  position: absolute
  left: 0
  top: 0
  width: 100%
  background-color: #fff
  height: $header__height
  z-index: 99
  min-width: $app__width
  display: flex
  align-items: center
  justify-content: flex-start

  & &__logo
    display: block
    width: 200px
    height: 100%
    text-align: center

    &::before
      background-color #6a6ae4
      background-image: linear-gradient(#0184ca, #113c6c);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 30px
      line-height: $header__height

  &__menu
    display: block
    font-size: 0
    margin-left: auto
    margin-right: 24px

    &-item
      display: inline-block
      height: $header__height
      font-size: 16px
      line-height: @height
      cursor: pointer
      padding: 0 17px
      color: #59646e
      box-sizing: border-box

      &.active
        color: #2f91e3
        border-bottom: 2px solid @color

