@import '__.styl'
@import '../Nav/__.styl'
@import '../Header/__.styl'

.Builder
  position: absolute
  left: $nav__width
  top: $header__height
  right: 0
  bottom: 0
  background-color: #f9f9f9

  &__container
    width: 610px
    margin: 24px auto

  &__header
    background-image: url(images/builder__header.jpg)
    width: 610px
    height: 160px
